<!-- @import-styles -->
<section class="market-profile">
  <img src="{{banner-src}}" alt="" class="banner">
  <div class="info">
    <div class="top-info">
      <img src="{{photo-src}}" alt="" class="profile-photo">
      <div class="midle">
        <span class="top">
          <h1>{{market-name="Name"}}</h1>
          <span class="is-open-display">
            {{open-message="Aberto"}}
          </span>
        </span>
        <p class="address">
          Rua lorem ipsum dolor sit amet, 111
        </p>
      </div>
      <div class="icons">
        <img src="/assets/info.svg" alt="">
      </div>
    </div>
    <div class="lower-info">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elit metus, rutrum in accumsan eu, malesuada sit
        amet metus. Nam dictum, massa ac volutpat mattis, ex arcu pretium diam, nec ornare nisi purus id eros. Curabitur
        elit justo, fringilla ac sollicitudin id, sodales id diam. Fusce lorem massa, rutrum quis elit eu, euismod
        laoreet
        ipsum. Suspendisse non risus odio. Nunc malesuada justo pellentesque nulla congue rutrum. Nunc ante augue,
        malesuada
        eu mattis nec, vulputate in risus. Maecenas placerat blandit sodales.
      </p>
    </div>
  </div>
</section>